---
title: "Kimson"
layout: default
permalink: "/author-kimson.html"
---

{% assign author = site.authors[page.title] %}
<div class="fence-full">
    <div class="w-flex justify-content-center">
        <div class="col-md-20">
            {% include profile-card.html %}
            
            <h4 class="fw-bold"><span>Posts by {{author.name}}</span></h4>
            {% assign posts = site.posts | where:"author","Kimson" %}
            {% for post in posts %}
            {% include main-loop-card.html %}
            {% endfor %}
        </div>
    </div>
</div>