<footer class="footer p-3 w-flex justify-content-start">
    <span class="brand fw-bold">
        <a href="{{site.baseurl}}/">Devkimson</a>
    </span>
    <div class="w-flex justify-content-start ps-3 gx-3">
        <span>© 2021. Devkimson All pictures cannot be copied without permission.</span>

        <!--  Github Repo Star Btn-->
        <a class="text-dark ml-1" target="_blank" href="https://github.com/kkn1125/">
            <i class="fab fa-github"></i> Devkimson Github
        </a>
    </div>
</footer>