{% assign keywords = page.keywords | split:"_" %}
{% if keywords %}
<blockquote id="keywords">
    <div class="text-capitalize" id="mainKeywords">
        <span class="fs-5 fw-bold">Keywords</span>
    </div>
    <ul class="list-group">
        {% for keyword in keywords %}
        <li class="list-item p-1">
            {% assign items = keyword | split: '#' %}
            <span class="tag tag-dark">
            {{items[0]|strip}}
            </span>
            {{items[1]|strip}}
        </li>
        {% endfor %}
    </ul>
</blockquote>
{% endif %}