<aside id="lsb" class="side-bar side-bar-size-3 built-in hide" data-side-bar="left" style="overflow-y: auto;">
    <div class="p-5 border flex-basis-100">
        <div class="text-end"><button class="w-sm-none w-inline-block custom-btn" id="delBtn">&times;</button></div>
        <div class="position-static position-sticky-sm" style="top: 111.375px;">
            
            {% include profile-card.html %}
            
            <div class="menu-title text-uppercase mt-5 mb-3 text-muted">
                Menu
            </div>
            <ul class="list-group">
                <li class="list-item">
                    <!-- new dark mode 2021-11-02 14:44:38 -->
                    <input type="checkbox" data-switch="mode">
                </li>
                <li class="list-item">
                    <a class="nav-link" href="{{site.baseurl}}/author-kimson">All Posts <span class="tag tag-danger">{{site.posts | size}}</span></a>
                </li>
                <li class="list-item">
                    <a class="nav-link" href="{{site.baseurl}}/portfolio">Portfolio</a>
                </li>
                <li class="list-item">
                    <a class="nav-link" href="{{site.baseurl}}/wikimson">Wikimson</a>
                </li>
                <li class="list-item">
                    <a class="nav-link" href="{{site.baseurl}}/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</aside>