<aside id="lsb" class="side-bar side-bar-size-3 built-in hide" data-side-bar="left" style="overflow-y: auto;">
    <div class="p-5 border flex-basis-100">
        <div class="text-end"><button class="w-sm-none w-inline-block custom-btn" id="delBtn">&times;</button></div>
        <div class="position-static position-sticky-sm" style="top: 111.375px;">
            {% for author in site.authors %}
            <div class="card card-ghost">
                <div class="position-relative text-center">
                    <img alt="{{ author[1].name }}" src="{{site.baseurl}}/{{ author[1].avatar }}" class="rounded-circle" style="width: 50%; height: auto; aspect-ratio: 1/1;">
                </div>
                <div class="card-title"> {{ author[1].name }} </div>
                <div class="card-content">
                    {%- comment -%}
                    <a class="card-link" href="{{site.baseurl}}/profile">
                        <small class="d-inline-block mt-1 mb-3 font-weight-normal"><i class="far fa-user-circle fs-4"></i> (View Profile)</small>
                    </a>
                    <a class="card-link" href="{{site.baseurl}}/author-{{author[1].name}}">
                        <small class="d-inline-block mt-1 mb-3 font-weight-normal"><i class="fas fa-book fs-4"></i> (View Author Posts)</small>
                    </a>
                    {%- endcomment -%}
                    <div class="excerpt">{{ author[1].bio }}</div>
                    <div class="icon-block mt-3 d-flex justify-content-between">
                        <div>
                            <a target="_blank" href="{{ author[1].site }}">
                                <i class="fa fa-globe text-muted" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="menu-title text-uppercase mt-5 mb-3 text-muted">
                Menu
            </div>
            <ul class="list-group">
                <li class="list-item">
                    <!-- new dark mode 2021-11-02 14:44:38 -->
                    <input type="checkbox" data-switch="mode">
                </li>
                <li class="list-item">
                    <a class="nav-link" href="{{site.baseurl}}/author-kimson">All Posts <span class="tag tag-danger">{{site.posts | size}}</span></a>
                </li>
                <li class="list-item">
                    <a class="nav-link" href="{{site.baseurl}}/portfolio">Portfolio</a>
                </li>
                <li class="list-item">
                    <a class="nav-link" href="{{site.baseurl}}/wikimson">Wikimson</a>
                </li>
                <li class="list-item">
                    <a class="nav-link" href="{{site.baseurl}}/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</aside>