<div class="mb-5 w-flex justify-content-between flex-column flex-row-md main-loop-card">
	<div class="col pe-3">
		<div>
			<span class="mb-1 h5 fw-bold">
			<a class="nav-link" href="{{site.baseurl}}{{post.url}}">{{ post.title | truncate: 30 }}</a>
			</span>
		</div>
		<p class="excerpt">
		{{ post.excerpt  | strip_html | strip_newlines | truncate: 186}}
		</p>
		<small class="w-block text-muted">
			In <span class="catlist">
			{% for category in post.categories %}
			<a class="text-capitalize tag tag-success text-white" href="{{site.baseurl}}/categories#{{ category | downcase }}">{{ category }}</a><span class="sep"> </span>
			{% endfor %}
			</span>
		</small>
		<small class="text-muted">
			{{ post.date | date: '%b %d, %Y' }}
		</small>
	</div>
	{% if post.image %}
	<div class="col-md-5 pe-0 text-right">
	<a href="{{site.baseurl}}{{post.url}}">
	<img class="w-100" style="aspect-ratio: 9/6" src="https://ik.imagekit.io/demo/img/image4.jpeg?tr=w-1,h-1:w-400,h-300" data-src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
	</a>
	</div>
	{% endif %}
</div>