<nav class="gnb position-sticky bg-light us-none gnb-primary">
    <div class="gnb-inner gnb-expand-md hide align-items-center">
        <div class="brand fw-bold">
            <a href="{{ site.baseurl }}/"><strong>{{site.name}}</strong></a>
        </div>
        <div class="menu-btn">
            <button class="btn btn-light text-gray fs-4 px-2 me-3" data-target="#gnbMenu" style="line-height: 1">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <ul id="gnbMenu" class="gnb-menu gx-2 w-flex hide">
            <li>
                <span class="tag tag-info">오늘 방문자</span> <span id="today" class="tag text-white"></span>
            </li>
            <li>
                <span class="tag tag-primary">누적 방문자</span>
                <span id="total" class="tag text-white"></span>
            </li>
            <li>
                <form class="search btn-bundle g-0" onSubmit="return lunr_search(document.getElementById('lunrsearch').value);">
                    <input type="text" class="form-input col" id="lunrsearch" name="q" value="" placeholder="검색어를 입력해주세요.">
                    <button class="btn btn-info">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </li>
        </ul>
    </div>
</nav>