<div data-option="loading">
    <div class="d-flex flex-column align-items-center text-uppercase">
        <div class="display-3">
            devkimson
        </div>
        <div class="loadingImg-wrap">
            <div class="loadingImg" style="background-image: url({{site.baseurl}}/assets/images/logo-k-mono.png);"></div>
            <div class="loadingCover">
                <div class="loadingImg" style="background-image: url({{site.baseurl}}/assets/images/logo-k-color.png);"></div>
            </div>
        </div>
        <div class="display-3">
            hello
        </div>
    </div>
</div>