{% assign kimson = site.authors.Kimson %}

<div class="{% if page.url contains 'author-kimson' %}mt-5 {% endif %}w-flex align-items-center justify-content-center mb-5" style="gap: 1rem;">
    <div class="col-auto">
        {% if page.layout == 'default' %}
        <img alt="{{ kimson.name }}" src="{% if kimson.avatar contains '://' %}{{ kimson.avatar }}{% else %}{{site.baseurl}}/{{ kimson.avatar }}{% endif %}" class="rounded-3" height="150" width="150">
        {% else %}
        <img alt="{{ kimson.name }}" src="{% if kimson.avatar contains '://' %}{{ kimson.avatar }}{% else %}{{site.baseurl}}/{{ kimson.avatar }}{% endif %}" class="rounded-circle" height="100" width="100">
        {% endif %}
    </div>
    <div class="col-auto">
        <div>
            <span class="fw-bold">{{kimson.name}}</span>
            <a class="btn btn-success" href="{{ kimson.github }}">Follow</a>
        </div>
        <p>
            <a target="_blank" href="{{ kimson.site }}">
                <i class="fa fa-globe text-muted" aria-hidden="true"></i>
            </a>
        </p>
        <p class="excerpt">{{ kimson.bio }}</p>
    </div>
</div>