<div class="">
    <span class="h4">Featured</span>
</div>
<div class="card-group card-ghost card-pd-0 card-dv-1 g-3">

    {% for post in site.posts %}

    {% if post.featured == true %}
    <div class="card p-0" style="overflow: hidden;">
        <div class="card-title">
            <a href="{{site.baseurl}}{{ post.url }}" title="{{ post.title }}">{{ post.title | truncate: 50}}</a>
        </div>
        <div class="card-content">
            <div class="card-body text-gray">
                {{post.content | strip_html | | truncate: 100, '...'}}
            </div>
        </div>
        <div class="pb-3">
            In <span class="catlist">
                {% for category in post.categories %}
                <a class="text-capitalize text-white tag tag-success"
                    href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span
                    class="sep"> </span>
                {% endfor %}
            </span>
            <time class="card-time">{{ post.date | date: '%b %d, %Y' }}</time>
        </div>
    </div>

    {% endif %}

    {% endfor %}

</div>

{%comment%}
<div class="col-20">

    <div class="pb-3 mb-3 border-bottom">
        <span class="h4 pb-3 border-bottom">All Stories</span>
        <span>
            <span class="tag tag-primary">{{site.posts | size}}</span>
        </span>
    </div>


    {% for post in paginator.posts %}

    {% include main-loop-card.html %}

    {% endfor %}

    <div class="mt-5">
        <!-- Pagination links -->
        {% if paginator.total_pages > 1 %}
        <ul class="pagination">
            {% if paginator.previous_page %}
            <li class="page-item"><a class="page-link"
                    href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;
                    Prev</a></li>
            {% else %}
            <li class="page-item disabled"><span class="prev page-link">&laquo;</span></li>
            {% endif %}

            {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
            <li class="page-item disabled"><span class="webjeda page-link">{{ page }}</span></li>
            {% elsif page == 1 %}
            <li class="page-item"><a class="page-link" href="{{site.baseurl}}/">{{ page }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link"
                    href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
            <li class="page-item"><a class="page-link"
                    href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next
                    &raquo;</a></li>
            {% else %}
            <li class="page-item disabled"><span class="next page-link">&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>

</div>
{%endcomment%}