<div class="">
    <span class="h4">Featured</span>
</div>
<div class="card-group card-ghost card-pd-3 card-dv-1 g-0">

    {% for post in site.posts %}

    {% if post.featured == true %}
    <div class="card rounded-0" style="overflow: hidden;">
        <div class="card-title">
            <a href="{{site.baseurl}}{{ post.url }}" title="{{ post.title }}">{{ post.title | truncate: 50}}</a>
        </div>
        <div class="card-content">
            <div class="card-body text-gray">
                {{post.content | strip_html | | truncate: 100, '...'}}
            </div>
        </div>
        <div>
            <span class="tag text-dark">Tags</span>
            {% for tag in post.tags %}
            <a class="text-capitalize tag tag-primary text-white"
                href="{{site.baseurl}}/tags.html#{{ tag | downcase }}">{{ tag }}</a><span
                class="sep"> </span>
            {% endfor %}
        </div>
        <div class="pb-3">
            <span class="tag text-dark">In</span> <span class="catlist">
                {% for category in post.categories %}
                <a class="text-capitalize text-white tag tag-success"
                    href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span
                    class="sep"> </span>
                {% endfor %}
            </span>
            <time class="card-time">{{ post.date | date: '%b %d, %Y' }}</time>
        </div>
    </div>

    {% endif %}

    {% endfor %}

</div>