<!-- All this area goes before </body> closing tag --> 

<!-- Scripts: popper, bootstrap, theme, lunr -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
</script>

<script src="{{site.baseurl}}/assets/js/theme.js"></script>

<script src="{{site.baseurl}}/assets/js/kims.js" defer async></script>

<script src="{{site.baseurl}}/assets/js/cookier.js"></script>

<script src="https://cdn.jsdelivr.net/gh/kkn1125/typer@update-v020/typer.js" integrity="sha384-TjFbiXfZsWbm5r2BN+wk//8Y2G4UW+IJTvn+Hi69spImwbD0+SLOA55rMC2ScW10" crossorigin="anonymous"></script>

<script>
    const typer = Typer.init({
        typer: {
            // data-typer-name 지정태그에 텍스트 추가 모습
            words: {
                intro:
                    ['사용자 공간, 시각 디자인등을 생각하는 건축에 매력을 느껴 실내건축을 전공했습니다.',
                    '졸업 후 설계사무소에 입사하여 디자인, 프로젝트관리, 도면 작도 업무를 했고',
                    '디자인 원리와 일정관리, 건축법규, 사용자입장의 사고를 배웠습니다.',
                    '많은 분야에 실무자와 대면하며 각자 업무에 대한 여러 정보를 얻었고,',
                    '새로운 분야에 대한 도전을 생각하게 되었습니다.',
                    'AutoCAD로 도면을 그리면서 작도 능력향상을 위해 LISP언어를 알게 됐고,',
                    '점점 프로그래밍에 관심을 가지면서 이직을 결심했습니다.',
                    '학원을 이수하고 현재 Spring과 RestFul API를 공부 중입니다.']
                ,
            },
            // 전역 스타일 값 지정
            speed: 0.1,
            delay: 1.5,
            loop: false,
            loopDelay: 1,
            start: 0,
            eraseMode: false,
            eraseSpeed: 0.1,
            style: {
                cursorBlink: 'vertical'
            },
        }
    })
</script>

<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})
</script>

<script>
AOS.init();
</script>

<script src="{{ site.baseurl }}/assets/js/imgZoom.js"></script>

<script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>