/* base call */
/* body[class]{
	transition: 0.5s cubic-bezier(1,0,0,1);
} */

button.cpbtn{
	position: absolute;
	right: 0;
	bottom: 0;
}

#videoLimit{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	overflow: hidden;
}

#videoBike{
	width: auto;
	/* object-fit: fill; */
	filter: brightness(0.5);
	-webkit-filter: brightness(0.5);
}

body.dark {
	background-color: #2a2b31;
}

body.dark .modal-content{
	background-color: #555555;
}

body.dark .modal-content li.lunrsearchresult{
	margin-bottom: 1rem;
}

body.dark .modal-content span.title{
	color: #ffffff !important;
	font-weight: bold;
}

body.dark .modal-content span.body{
	color: #ffba8c !important;
}

body.dark .modal-content span.url{
	color: #949494 !important;
}

body.dark .section-title span {
	border-bottom: 2px solid rgba(195, 195, 195, 0.856)
}

body.dark .section-title h2 {
	border-bottom: 1px solid rgba(93, 93, 93, 0.808);
}

body.dark div.border.rounded {
	background-color: inherit !important;
}

body.dark #gotop {
	color: rgb(216, 136, 71) !important;
}

body.dark .footer {
	background-color: #222222;
	color: rgb(133, 133, 133) !important;
}

body.dark .author-description {
	color: rgb(197, 197, 197) !important;
}

body.dark #conversation {
	color: white;
}

body.dark div#posts {
	color: white !important;
}

body.dark .rating-holder {
	background-color: inherit;
}

body.dark [class="smoothscroll"] {
	color: white !important;
	background-color: rgb(104, 104, 104) !important;
}

body.dark .lang-badge {
	color: white !important;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
	color: rgb(230, 230, 230);
}

body.dark hr{
	border-color: #8b8b8b;
}

body.dark ul,
body.dark div,
body.dark .article-post p {
	color: rgb(212, 212, 212) !important;
}

body.dark a {
	color: rgb(223, 159, 76);
}

body.dark time.post-date {
	color: rgb(190, 190, 190);
}

body.dark time.post-date::before{
	content: "written at ";
	font-style: italic;
	font-weight: bold;
	text-transform: capitalize;
	text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-thickness: 3px;
	text-decoration-color: lightcoral;
}

body.dark .navbar-brand {
	color: white;
}

body.dark button.navbar-toggler {
	filter: invert();
}

body.dark .navbar {
	background-color: #252935 !important;
	color: white;
}

body.dark .nav-link {
	color: #d4d4d4 !important;
}

body button#modeToggle.btn{
	transition: 1s ease;
}

body div#mtWrap{
	perspective: 200px;
	position: fixed;
	top: 80px;
	right: 8%;
}

/* body button#modeToggle.btn-secondary{
	transform: rotate3d(0, 1, 0, 0deg);
}

body button#modeToggle.btn-light{
	transform: rotate3d(0, 1, 0, 180deg);
} */

div#mtWrap{
	/* position: fixed;
	top: 80px;
	right: 8%; */
	z-index: 1020;
}

.table td{
	padding: 0 !important;
}

#kal tr td:nth-child(1){
	color: #dc3545;
}

#kal tr td:nth-child(7){
	color: #007bff;
}

.table tr td{
	vertical-align: middle;
}

@media screen and (max-width: 768px){
}

#current{
	transition: 1s;
}

#current:hover::after{
	display:block;
	content: "";
	width: 45px;
	height: 45px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: scale(1) translate(-50%,-50%);
	transform-origin: 0% 0%;
	background-color: rgba(255, 228, 188, 0.7);
	border-radius: 50%;
	border: .5px dashed gray;
	z-index: -1;
	animation: bounce 3s both ease-in-out infinite;
}

@keyframes bounce{
	0%{
		transform: scale(1) translate(-50%,-50%);
	}
	30%{
		transform: scale(1) translate(-55%,-50%);
	}
	40%{
		transform: scale(1) translate(-50%,-50%);
	}
	43%{
		transform: scale(1) translate(-45%,-50%);
	}
	45%{
		transform: scale(1) translate(-55%,-50%);
	}
	47%{
		transform: scale(1) translate(-45%,-50%);
	}
	49%{
		transform: scale(1) translate(-55%,-50%);
	}
	50%{
		transform: scale(1) translate(-45%,-50%);
	}
	53%{
		transform: scale(1) translate(-55%,-50%);
	}
	55%{
		transform: scale(1) translate(-45%,-50%);
	}
	60%{
		transform: scale(1.05) translate(-55%,-50%);
	}
	70%{
		transform: scale(1) translate(-50%,-50%);
	}
	100%{
		transform: scale(1) translate(-50%,-50%);
	}
}

.adsbygoogle{
	display: none !important;
}

#loadWrap{
	transition: 1s cubic-bezier(1,0,0,1);
	z-index: 1100;
}

#hiddenCover{
	height: 0%;
}

@keyframes hc{
	0%{
		height: 0%;
	}
	50%{
		height: 30%;
	}
	70%{
		height: 70%;
	}
	100%{
		opacity: 1;
		height: 100%;
	}
}

#loadImg-cover{
	background-image: url(/assets/images/logo-k-color.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 300px;
	height: calc(300px);
	position: absolute;
	top: 0%;
}

#loadImg{
	background-image: url(/assets/images/logo-k-mono.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 300px;
	height: calc(300px);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: li .5s ease both;
}

@keyframes li{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
		transform: translate(-50%, -50%);
		z-index:1099;
	}
}

.load-item{
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	z-index: -1;
}
.load-hellow{
	position: fixed;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	z-index: -1;
}

@keyframes lt{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
		transform: translate(-50%, -300%);
		z-index:1099;
	}
}
@keyframes lh{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
		transform: translate(-50%, 100%);
		z-index:1099;
	}
}

.translate-middle{
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.loading{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	z-index: 1050;
}

.made{
	text-shadow: 0px 0px 2px black;
}

.wrap-badge{
	top: 0;
	right: 0;
	transform: translate(20%,-70%);
	-webkit-transform: translate(20%,-70%);
	-moz-transform: translate(20%,-70%);
	-ms-transform: translate(20%,-70%);
	-o-transform: translate(20%,-70%);
}

.lang-badge{
	color: inherit;
	box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.5);
}

a#gotop i::before{
	position: fixed;
	bottom: 6%;
	right: 8%;
	z-index: 1099;
	background-color: rgba(255,255,255,.7);
	border-radius: 50%;
}

tbody#career td:nth-child(2){
    text-align: left;
    /* padding-left: 2rem; */
}

@media screen and (min-width: 576px) {
	.text-sm-start{
		text-align: left !important;
	}
	.text-sm-end{
		text-align: right !important;
	}
	.text-sm-center{
		text-align: center !important;
	}
}

@media screen and (max-width: 768px) {
	.fs-md-2{
        font-size: calc(2.5rem + .6vw) !important;
    }
    
    tbody#career td span{
        text-align: left;
        white-space: pre-wrap;
        line-height: 1.2rem;
    }
    
    tr{
    	vertical-align: middle;
    }
}

[data-unselect="true"]{
	user-select: none;
}

.top-0{
    top: 0%;
}
.top-25{
    top: 25%;
}
.top-50{
    top: 50%;
}
.top-75{
    top: 75%;
}
.top-100{
    top: 100%;
}
.bottom-0{
    bottom: 0%;
}
.bottom-25{
    bottom: 25%;
}
.bottom-50{
    bottom: 50%;
}
.bottom-75{
    bottom: 75%;
}
.bottom-100{
    bottom: 100%;
}
.start-0{
    left: 0%;
}
.start-25{
    left: 25%;
}
.start-50{
    left: 50%;
}
.start-75{
    left: 75%;
}
.start-100{
    left: 100%;
}
.end-0{
    right: 0%;
}
.end-25{
    right: 25%;
}
.end-50{
    right: 50%;
}
.end-75{
    right: 75%;
}
.end-100{
    right: 100%;
}

.fs-1{
	font-size: 2.25rem;
}
.fs-2{
	font-size: 2rem;
}
.fs-3{
	font-size: 1.75rem;
}
.fs-4{
	font-size: 1.5rem;
}
.fs-5{
	font-size: 1.25rem;
}
.fs-6{
	font-size: 1rem;
}
.fs-7{
	font-size: .75rem;
}
.fs-8{
	font-size: .50rem;
}

.mysql, .jquery{
    fill: white;
}

.text-start{
	text-align: left;
}
.text-end{
	text-align: right;
}

.ms-0{
	margin-left: 0 !important;
}
.ms-1{
	margin-left: .25rem !important;
}
.ms-2{
	margin-left: .5rem !important;
}
.ms-3{
	margin-left: 1rem !important;
}
.ms-4{
	margin-left: 1.5rem !important;
}
.ms-5{
	margin-left: 2rem !important;
}
.me-0{
	margin-right: 0 !important;
}
.me-1{
	margin-right: .25rem !important;
}
.me-2{
	margin-right: .5rem !important;
}
.me-3{
	margin-right: 1rem !important;
}
.me-4{
	margin-right: 1.5rem !important;
}
.me-5{
	margin-right: 2rem !important;
}
.float-end{
	float: right;
}
.float-start{
	float: left;
}
/* base call */

.profilecard{
    width: 120px !important;
	height: 120px;
	flex-shrink: 0;
	overflow: hidden;
	border-radius: 50%;
	align-self: center;
	text-align: center;
}

.profilecard img{
	width: auto;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.imgfix{
    width: 200px !important;
	height: 200px;
	flex-shrink: 0;
	overflow: hidden;
	border-radius: 50%;
	align-self: center;
	text-align: center;
}

.imgfix img{
	width: auto;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.postprev{
	color: darkgray;
	position: relative;
	transition: .3s;
}

.postprev:hover{
	color: black;
}

.postprev:hover i{
	animation: prevact .3s ease-in-out;
}

@keyframes prevact{
	0%{
		transform: translateX(0%);
	}
	
	50%{
		transform: translateX(-25%);
	}
	
	100%{
		transform: translateX(0%);
	}
}

.postnext{
	color: darkgray;
	position: relative;
	transition: .3s;
}

.postnext:hover{
	color: black;
}

.postnext:hover i{
	animation: nextact .3s ease-in-out;
}

@keyframes nextact{
	0%{
		transform: translateX(0%);
	}
	
	50%{
		transform: translateX(25%);
	}
	
	100%{
		transform: translateX(0%);
	}
}

/* minimize settings */
div[data-type="window"]{
	transition: 1s cubic-bezier(1,-0.01, 0, 0.99);
}

@media screen and (min-width:1200px) {
	.rounded-lg-3{
		border-radius: .5rem !important;
	}
}

div.minimize{
	position: fixed !important;
	bottom: 0;
	right: 0;
	margin: 0 !important;
	padding: 0 !important;
 	height: 54px !important;
	z-index: 1;
	width: 75% !important;
	background-color: none !important;
}

div.minimize>div:not(:first-child){
	opacity: 0 !important;
	transform: scale(0);
}

div.minimize>div.start-0{
	top: auto !important;
	bottom: 0 !important;
	border-radius: .5rem;
}

#newSpan{
	bottom: 4rem;
	border-radius: .5rem;
	right: 0;
	color: white;
	padding: 1rem 3rem;
	background-color: rgba(0,0,0,0.3);
	z-index: 5;
	margin-right: 1rem;
}

/* story display btn settings */
#btns>button{
	animation: nextBtns 2s cubic-bezier(0.52,-0.54, 0.4, 1.4) infinite;
}

blockquote{
	background-color: rgba(227, 255, 225, 0.3);
	padding: 10px 20px;
}

blockquote p{
	margin: auto 0 !important;
	word-break: break-word;
}

#btns>button:hover{
	transform: scale(1.2);
}

#current{
	font-weight: bold;
	color: coral;
}

@keyframes nextBtns{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}

#storyLine::after{
	content: " _";
	animation: bling .5s infinite;
}

@keyframes bling{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
/* story display btn settings */

/* page range bar */
#rangebar span{
	position: relative;
	z-index: 5;
	line-height: 1.8rem;
}

#rangebar{
	position: relative;
	border-radius: .5rem;
	overflow: hidden;
}

#rangebar::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: gray;
	z-index: 0;
}

#rangebar>[data-page]{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: calc(1 / 16 * 100%);
	height: 100%;
	background-color: #2d9d26;
	z-index: 2;
	border-radius: .5rem;
}
/* page range bar */

/* minimize settings */
div[data-type="window"]{
	transition: 1s cubic-bezier(1,-0.01, 0, 0.99);
}

@media screen and (min-width:1200px) {
	.rounded-lg-3{
		border-radius: .5rem !important;
	}
}

div.minimize{
	position: fixed !important;
	bottom: 0;
	right: 0;
	margin: 0 !important;
	padding: 0 !important;
 	height: 54px !important;
	z-index: 1;
	width: 75% !important;
	background-color: none !important;
}

div.minimize>div:not(:first-child){
	opacity: 0 !important;
	transform: scale(0);
}

div.minimize>div.start-0{
	top: auto !important;
	bottom: 0 !important;
	border-radius: .5rem;
}

[data-bar]{
    font-size: .7rem;
}

/* custom settings of origin template */

.featured-box-img-cover:hover, .maxthumb [class="img-fluid"]:hover{
	transform: scale(1.1);
}
.featured-box-img-cover, .maxthumb [class="img-fluid"]{
transition: .5s cubic-bezier(1,0,0,1);
}

.wrapthumbnail, .maxthumb {
	overflow: hidden;
}