/* base call */
/* body[class]{
	transition: 0.5s cubic-bezier(1,0,0,1);
} */

body[scroll="disabled"]{
	overflow: hidden;
}

html, body{
	overflow-x: hidden;
}

body{
	position: relative;
}

button.cpbtn{
	position: absolute;
	right: 0;
	bottom: 0;
}

div.highlight{
	user-select: none;
}

pre.highlight::-webkit-scrollbar{
	width: 8px;
	height: 8px;
	background: gray;
}

pre.highlight::-webkit-scrollbar-thumb{
	background-color: black;
}

img{
	object-fit: cover;
}

.latestImgs{
	aspect-ratio: 9/6;
	width: 100%;
}

figure figcaption{
	background: #80808085;
    color: white;
	font-size: .8em;
}

@media (max-width: 575px) {
	.latestImgs{
		width: 100%;
	}
}

.imgFix{
	width: 100%;
}

.text-decoration-line-through{
	text-decoration-line: line-through;
	-moz-text-decoration-line: line-through;
}

/* 
	dark mode start
 */

 [data-switch="mode"] {
    display: none;
}

label#mtWrap {
    user-select: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
    background-color: rgba(114, 157, 250, 0.5);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

label#mtWrap.on>span{
    left: 0%;
}

label#mtWrap.off>span{
    left: 50%;
}

label#mtWrap>span{
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    width: 2rem;
    height: 2rem;
    background-color: rgba(0, 0, 0, .5);
    color: wheat;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: 0.3s left cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: 0.3s left cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: 0.3s left cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition: 0.3s left cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: 0.3s left cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

label#mtWrap>span::before{
    position: absolute;
}

body.dark {
	background-color: #2a2b31;
	color: white;
}

body.dark .table{
	color: inherit;
}

body.dark .modal-content{
	background-color: #555555;
}

body.dark .modal-content li.lunrsearchresult{
	margin-bottom: 1rem;
}

body.dark .modal-content span.title{
	color: #ffffff !important;
	font-weight: bold;
}

body.dark .modal-content span.body{
	color: #ffba8c !important;
}

body.dark .modal-content span.url{
	color: #949494 !important;
}

body.dark .section-title span {
	border-bottom: 2px solid rgba(195, 195, 195, 0.856)
}

body.dark .section-title h2 {
	border-bottom: 1px solid rgba(93, 93, 93, 0.808);
}

body.dark div.border.rounded {
	background-color: inherit !important;
}

footer.footer {
	margin-top: 50px;
	z-index: 1022;
	position: relative;
	width: 100%;
	background-color: #ffffff;
}

body.dark footer.footer {
	background-color: #222222;
	color: rgb(133, 133, 133) !important;
}

body.dark .author-description {
	color: rgb(197, 197, 197) !important;
}

body.dark #conversation {
	color: white;
}

body.dark div#posts {
	color: white !important;
}

body.dark .rating-holder {
	background-color: inherit;
}

body.dark [class="smoothscroll"] {
	color: white !important;
	background-color: rgb(104, 104, 104) !important;
}

body.dark .lang-badge {
	color: white !important;
}

body.dark footer a.text-dark,
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6,
body.dark h1 a.text-dark,
body.dark h2 a.text-dark,
body.dark h3 a.text-dark,
body.dark h4 a.text-dark,
body.dark h5 a.text-dark,
body.dark h6 a.text-dark {
	color: rgb(230, 230, 230) !important;
}

body.dark .card{
	background-color: inherit;
}

body.dark ol.list-featured li:before {
	opacity: 1;
}

body.dark .excerpt{
	color: inherit;
}

body.dark hr{
	border-color: #8b8b8b;
}

body.dark ul,
/* body.dark div, */
body.dark .article-post p {
	color: rgb(212, 212, 212) !important;
}

body.dark .page-content p{
	color: white;
}

body.dark

body.dark time.post-date {
	color: rgb(190, 190, 190);
}

body.dark time.post-date::before{
	content: "written at ";
	font-style: italic;
	font-weight: bold;
	text-transform: capitalize;
	text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-thickness: 3px;
	text-decoration-color: lightcoral;
}

body.dark .navbar .navbar-brand {
	color: rgb(255, 255, 255);
}

body.dark .footer .navbar-brand {
	color: rgb(134, 134, 134);
}

body.dark button.navbar-toggler {
	filter: invert();
}

body.dark .navbar {
	background-color: #252935 !important;
	color: white;
}

body.dark .nav-link {
	color: #d4d4d4 !important;
}

body button#modeToggle.btn{
	transition: 1s ease;
}

body #mtWrap{
	perspective: 200px;
	position: fixed;
	top: 80px;
	right: 8%;
	z-index: 1020;
}

/* 
	dark mode end
 */

.table td{
	padding: 0 !important;
}

#kal tr td:nth-child(1){
	color: #dc3545;
}

#kal tr td:nth-child(7){
	color: #007bff;
}

.table tr td{
	vertical-align: middle;
}

@media screen and (max-width: 768px){
}

.bd-search{
	width: 100%;
}

#current{
	transition: 1s;
}

#current:hover::after{
	display:block;
	content: "";
	width: 45px;
	height: 45px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: scale(1) translate(-50%,-50%);
	transform-origin: 0% 0%;
	background-color: rgba(255, 228, 188, 0.7);
	border-radius: 50%;
	z-index: -1;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
}

iframe[sandbox^="allow"]{
	display: none !important;
}

.adsbygoogle{
	display: none !important;
}

.linkpop{
	font-size: 1.3rem;
}

.translate-middle{
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.made{
	text-shadow: 0px 0px 2px black;
}

.wrap-badge{
	top: 0;
	right: 0;
	transform: translate(0%,-70%);
	-webkit-transform: translate(0%,-70%);
	-moz-transform: translate(0%,-70%);
	-ms-transform: translate(0%,-70%);
	-o-transform: translate(0%,-70%);
}

.lang-badge{
	color: inherit;
	box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.5);
}

a#gotop i::before{
	position: fixed;
	bottom: 6%;
	right: 8%;
	z-index: 1098;
	background-color: rgba(255,255,255,.7);
	border-radius: 50%;
}

tbody#career td:nth-child(2){
    text-align: left;
    /* padding-left: 2rem; */
}

@media screen and (min-width: 576px) {
	.text-sm-start{
		text-align: left !important;
	}
	.text-sm-end{
		text-align: right !important;
	}
	.text-sm-center{
		text-align: center !important;
	}
}

@media screen and (max-width: 768px) {
	.fs-md-2{
        font-size: calc(2.5rem + .6vw) !important;
    }
    
    tbody#career td span{
        text-align: left;
        white-space: pre-wrap;
        line-height: 1.2rem;
    }
    
    tr{
    	vertical-align: middle;
    }
}

[data-unselect="true"]{
	user-select: none;
}

.mysql, .jquery{
    fill: white;
}

/* base call */

.profilecard{
    width: 120px !important;
	height: 120px;
	flex-shrink: 0;
	overflow: hidden;
	border-radius: 50%;
	align-self: center;
	text-align: center;
}

.profilecard img{
	width: auto;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.imgfix{
    width: 200px !important;
	height: 200px;
	flex-shrink: 0;
	overflow: hidden;
	border-radius: 50%;
	align-self: center;
	text-align: center;
}

.imgfix img{
	width: auto;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.postprev{
	color: darkgray;
	position: relative;
	transition: .3s;
}

.postprev:hover{
	color: black;
}

.postprev:hover i{
	animation: prevact .3s ease-in-out;
}

@keyframes prevact{
	0%{
		transform: translateX(0%);
	}
	
	50%{
		transform: translateX(-25%);
	}
	
	100%{
		transform: translateX(0%);
	}
}

.postnext{
	color: darkgray;
	position: relative;
	transition: .3s;
}

.postnext:hover{
	color: black;
}

.postnext:hover i{
	animation: nextact .3s ease-in-out;
}

@keyframes nextact{
	0%{
		transform: translateX(0%);
	}
	
	50%{
		transform: translateX(25%);
	}
	
	100%{
		transform: translateX(0%);
	}
}

#newSpan{
	bottom: 4rem;
	border-radius: .5rem;
	right: 0;
	color: white;
	padding: 1rem 3rem;
	background-color: rgba(0,0,0,0.3);
	z-index: 5;
	margin-right: 1rem;
}

[data-bar]{
    font-size: .7rem;
}

/* custom settings of origin template */

.featured-box-img-cover:hover, .maxthumb [class="img-fluid"]:hover{
	transform: scale(1.1);
}
.featured-box-img-cover, .maxthumb [class="img-fluid"]{
transition: .5s cubic-bezier(1,0,0,1);
}

.wrapthumbnail, .maxthumb {
	overflow: hidden;
}

/* loading cover start */
[data-option="loading"]{
	display: none;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 2000;
	background-color: white;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: .5s cubic-bezier(0.215, 0.610, 0.355, 1);
	-webkit-transition: .5s cubic-bezier(0.215, 0.610, 0.355, 1);
	-moz-transition: .5s cubic-bezier(0.215, 0.610, 0.355, 1);
	-ms-transition: .5s cubic-bezier(0.215, 0.610, 0.355, 1);
	-o-transition: .5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

[data-option="loading"] .loadingImg,
[data-option="loading"] .loadingImg-wrap{
    position: relative;
    min-width: 15rem;
    min-height: 15rem;
    width: 30vw;
    height: 30vw;
    max-width: 25rem;
    max-height: 25rem;
}

[data-option="loading"] .loadingImg{
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

[data-option="loading"] .loadingCover{
    position: relative;
    overflow: hidden;
    height: 0%;
}
/* loading cover ent */

/* typer attr start */
[data-typer-name] {
	color: inherit;
}
[data-typer-name] span:hover{
	color: rgb(216, 136, 71);
}
/* typer attr end */

/* data bar */
[data-value]{
    background-color: rgb(143, 143, 143);
    width: 50vw;
    height: 1em;
    display: inline-block;
    position: relative;
    margin-left: 1rem;
    text-align: right;
    line-height: 0.1rem;
}

.value{
    background-color: rgb(170, 223, 91);
    display: block;
    height: 100%;
}

.skill{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 1rem;
}

[data-skill] tbody tr{
	line-height: 2.5rem;
}


[data-skill] tbody tr td{
	white-space: nowrap;
}
/* data bar */

/* news alert start */
[news-alert]{
    display: inline-block;
    position: fixed;
    bottom: 1em;
    right: 1em;
    user-select: none;
	z-index: 1099;
}

[news-alert] [data-news-alert-tag]{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	color: rgb(54, 54, 54);
	border: 2px solid rgba(56, 218, 123, 0.7);
	background-color: rgba(155, 236, 189, 0.5);
	margin: 0.5em 0;
	padding: 1em;
	font-size: .9em;
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	border-radius: .5rem;
	-webkit-border-radius: .5rem;
	-moz-border-radius: .5rem;
	-ms-border-radius: .5rem;
	-o-border-radius: .5rem;
	backdrop-filter: blur(.5rem);
	-webkit-backdrop-filter: blur(.5rem);
	box-shadow: 0 0 .5rem 0 rgba(0,0,0,0.2);
}
[news-alert] [data-news-alert-tag] .alert-text{
    display: inline-block;
    min-width: 10em;
    max-width: 20em;
}

[news-alert] [data-news-alert-tag] span.alert-text{
    pointer-events: none;
}

[news-alert] [data-news-alert-tag] span.alert-text a{
	pointer-events: all;
}

.news-close{
    display: inline-block;
    font-weight: 700;
    padding: .2em .5em;
    color: white;
    background-color: rgb(226, 78, 78);
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    cursor: pointer;
}
/* news alert end */

kbd.kbd{
	background-color: rgb(179, 42, 221);
}

.us-none{
	user-select: none;
}

.ws-nowrap{
	white-space: nowrap;
}
@media (min-width: 768px) {
	.overflow-x-auto{
		overflow-x: auto;
		flex-wrap: nowrap;
	}
}