@mixin h_set {
    font-weight: bold;
    padding-top: 58px;
    margin-bottom: 0.5em;
}

@mixin media_text_start_end($list) {
    @include text_start_end("");

    @each $k, $v in $list {
        @media (min-width: $v) {
            @include text_start_end("#{$k}-");
        }
    }
}
@mixin media_modal_fullscreen($list) {
    @include modal_fullscreen("");

    @each $k, $v in $list {
        @media (max-width:$v) {
            @include modal_fullscreen("#{$k}-");
        }
    }
}

@mixin text_start_end($size:"") {
    .text-#{$size}start {
        text-align: left;
    }

    .text-#{$size}end {
        text-align: right;
    }
}

@mixin modal_fullscreen($size:"") {
    .modal-#{$size}fullscreen {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }

    .modal-#{$size}fullscreen .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .modal-#{$size}fullscreen .modal-header {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        -webkit-border-radius: 0;
    }

    .modal-#{$size}fullscreen .modal-body {
        overflow-y: auto;
    }

    .modal-#{$size}fullscreen .modal-footer {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}

@function h_calc1($change, $tag_h_count) {
    @return calc(#{$change - 0.25 * (4 - $tag_h_count) + rem} + 1vw);
}

@function h_calc2($tag_h_count) {
    @return calc(#{math.div($tag_h_count, 2) + rem} + 1vw);
}