:root {
    --lm-lora: 'Lora', serif;
    --lm-noto-sans: 'Noto Sans KR', sans-serif;
    --lm-noto-serif: 'Noto Serif KR', serif;
    --lm-comfortaa: 'Comfortaa', cursive;
    --lm-gugi: 'Gugi', cursive;
    --lm-color-dark: rgb(22, 22, 22);
    --lm-color-dark-50: rgb(50, 50, 50);
    --lm-color-gray-1: rgb(87, 87, 87);
    --lm-color-gray-2: rgb(129, 129, 129);
    --lm-color-gray-3: rgb(185, 185, 185);
    --lm-color-gray-4: rgb(221, 221, 221);
    --lm-color-gray-5: rgb(240, 240, 240);
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 95%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

code pre {
    font-family: monospace;
}

@-ms-viewport {
    width: device-width;
}

body {
    font-family: var(--font-noto-sans), "Segoe UI", "Helvetica Neue", "Arial";
    font-size: 110%;
    line-height: 1.6;
    color: #212529;
    background-color: #fff;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

.lunrsearchresult .title {
    color: #d9230f;
}

.lunrsearchresult .url {
    color: silver;
}

.lunrsearchresult a {
    display: block;
    color: #777;
}

.lunrsearchresult a:hover,
.lunrsearchresult a:focus {
    text-decoration: none;
}

.lunrsearchresult a:hover .title {
    text-decoration: underline;
}

aside#rsb>div {
    overflow-y: auto;
}

.alertbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    font-size: 90%;
}

.custom-btn {
    padding: .3rem .7rem;
    color: white;
    font-weight: bold;
    border: none;
    background-color: rgba(var(--pl-danger-rgb), 1);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

#scrollGauge {
    position: fixed;
    bottom: 120px;
    right: 30px;
    z-index: 1500;
    pointer-events: none;
}

#lsb {
    color: black;
}

@media (min-width: 576px) {
    .text-sm-start {
        text-align: left;
    }

    .text-sm-end {
        text-align: right;
    }
}

@media (min-width: 768px) {
    .text-md-start {
        text-align: left;
    }

    .text-md-end {
        text-align: right;
    }
}

@media (min-width: 992px) {
    .text-lg-start {
        text-align: left;
    }

    .text-lg-end {
        text-align: right;
    }
}

@media (min-width: 1200px) {
    .text-xl-start {
        text-align: left;
    }

    .text-xl-end {
        text-align: right;
    }
}

@media (min-width: 1400px) {
    .text-xxl-start {
        text-align: left;
    }

    .text-xxl-end {
        text-align: right;
    }
}

.article-post img {
    width: 100%;
}

.article-post p {
    margin-top: 0.5em;
    margin-bottom: 1em;
    line-height: 2;
}

.article-post p a {
    color: rgba(var(--pl-subpoint-rgb), 1);
}

.article-post blockquote p {
    margin: 0;
}

blockquote {
    background-color: rgba(128, 128, 128, 0.1);
    border-left: 5px solid rgb(136, 136, 136);
    padding: 1rem;
    margin-bottom: 1rem;
}

[data-target="#lsb"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 1500;
}

.built-in.side-bar {
    position: fixed;
    right: 0;
    z-index: 1500;
}

.gauge-hide {
    animation: fade-out 300ms both;
    -webkit-animation: fade-out 300ms both;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (max-width: 575px) {
    .side-bar {
        height: 100% !important;
    }
}

@media (min-width: 992px) {
    .row-lg {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
    }
}

[data-is-mobile="true"] {
    display: none;
}

[hidden] {
    display: none !important;
}

.card[style|="background"] {
    backdrop-filter: blur(10px);
}

.card[style|="background"] *:not(a) {
    color: white !important;
}

.card[style|="background"] a {
    color: rgba(var(--pl-white-rgb), 1) !important;
}

.card-img {
    aspect-ratio: 9/6;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.float-start {
    float: left;
}

.float-end {
    float: right;
}

/* modals */
.modal {
    position: fixed;
    top: 64.53px;
    left: 0;
    z-index: 1055;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    height: calc(100% - 64.53px);
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0, -50px)
}

@media (prefers-reduced-motion:reduce) {
    .modal.fade .modal-dialog {
        transition: none
    }
}

.modal.show .modal-dialog {
    transform: none
}

.modal.modal-static .modal-dialog {
    transform: scale(1.02)
}

.modal-dialog-scrollable {
    height: calc(100% - 1rem)
}

.modal-dialog-scrollable .modal-content {
    max-height: 100%;
    overflow: hidden
}

.modal-dialog-scrollable .modal-body {
    overflow-y: auto
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem)
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100vw;
    height: 100vh;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop.show {
    opacity: .5
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px)
}

.modal-header .btn-close {
    padding: .5rem .5rem;
    margin: -.5rem -.5rem -.5rem auto
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px)
}

.modal-footer>* {
    margin: .25rem
}

@media (min-width:576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto
    }

    .modal-dialog-scrollable {
        height: calc(100% - 3.5rem)
    }

    .modal-dialog-centered {
        min-height: calc(100% - 3.5rem)
    }

    .modal-sm {
        max-width: 300px
    }
}

@media (min-width:992px) {

    .modal-lg,
    .modal-xl {
        max-width: 800px
    }
}

@media (min-width:1200px) {
    .modal-xl {
        max-width: 1140px
    }
}

.modal-fullscreen {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0
}

.modal-fullscreen .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0
}

.modal-fullscreen .modal-header {
    border-radius: 0
}

.modal-fullscreen .modal-body {
    overflow-y: auto
}

.modal-fullscreen .modal-footer {
    border-radius: 0
}

@media (max-width:575.98px) {
    .modal-fullscreen-sm-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0
    }

    .modal-fullscreen-sm-down .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0
    }

    .modal-fullscreen-sm-down .modal-header {
        border-radius: 0
    }

    .modal-fullscreen-sm-down .modal-body {
        overflow-y: auto
    }

    .modal-fullscreen-sm-down .modal-footer {
        border-radius: 0
    }
}

@media (max-width:767.98px) {
    .modal-fullscreen-md-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0
    }

    .modal-fullscreen-md-down .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0
    }

    .modal-fullscreen-md-down .modal-header {
        border-radius: 0
    }

    .modal-fullscreen-md-down .modal-body {
        overflow-y: auto
    }

    .modal-fullscreen-md-down .modal-footer {
        border-radius: 0
    }
}

@media (max-width:991.98px) {
    .modal-fullscreen-lg-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0
    }

    .modal-fullscreen-lg-down .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0
    }

    .modal-fullscreen-lg-down .modal-header {
        border-radius: 0
    }

    .modal-fullscreen-lg-down .modal-body {
        overflow-y: auto
    }

    .modal-fullscreen-lg-down .modal-footer {
        border-radius: 0
    }
}

@media (max-width:1199.98px) {
    .modal-fullscreen-xl-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0
    }

    .modal-fullscreen-xl-down .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0
    }

    .modal-fullscreen-xl-down .modal-header {
        border-radius: 0
    }

    .modal-fullscreen-xl-down .modal-body {
        overflow-y: auto
    }

    .modal-fullscreen-xl-down .modal-footer {
        border-radius: 0
    }
}

@media (max-width:1399.98px) {
    .modal-fullscreen-xxl-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0
    }

    .modal-fullscreen-xxl-down .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .modal-fullscreen-xxl-down .modal-header {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .modal-fullscreen-xxl-down .modal-body {
        overflow-y: auto
    }

    .modal-fullscreen-xxl-down .modal-footer {
        border-radius: 0
    }
}

/* md file h* */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    padding-top: 58px;
    margin-bottom: 0.5em;
    font-family: var(--lm-lora);
}

h1 {
    font-size: calc(3rem + 1vw);
    line-height: calc(3rem + 1vw);
}

h2 {
    font-size: calc(2.5rem + 1vw);
    line-height: calc(2.5rem + 1vw);
}

h3 {
    font-size: calc(2rem + 1vw);
    line-height: calc(2rem + 1vw);
}

h4 {
    font-size: calc(1.75rem + 1vw);
    line-height: calc(1.75rem + 1vw);
}

h5 {
    font-size: calc(1.5rem + 1vw);
    line-height: calc(1.5rem + 1vw);
}

h6 {
    font-size: calc(1.25rem + 1vw);
    line-height: calc(1.25rem + 1vw);
}

.toc ul li {
    margin-left: 1em;
}

.toc ul {
    list-style: revert;
}

.toc ol li {
    margin-left: 1em;
}

.toc ol {
    list-style: revert;
}

.brand {
    font-family: var(--lm-lora);
}

strong {
    font-weight: 700;
}