@font-face {
  font-family: "Gowun Batang";
  src: url("/assets/font/gowun-batang/GowunBatang-Regular.ttf")
    format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Gowun Batang";
  src: url("/assets/font/gowun-batang/GowunBatang-Bold.ttf")
    format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("/assets/font/noto-sans/NotoSansKR-Thin.ttf")
    format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("/assets/font/noto-sans/NotoSansKR-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("/assets/font/noto-sans/NotoSansKR-Light.ttf")
    format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("/assets/font/noto-sans/NotoSansKR-Regular.ttf")
    format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("/assets/font/noto-sans/NotoSansKR-Medium.ttf")
    format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("/assets/font/noto-sans/NotoSansKR-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("/assets/font/noto-sans/NotoSansKR-Bold.ttf")
    format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("/assets/font/noto-sans/NotoSansKR-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("/assets/font/noto-sans/NotoSansKR-Black.ttf")
    format("truetype");
  font-weight: 900;
}

.noto-sans {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  word-break: auto-phrase;
}

.gowun-batang-regular {
  font-family: "Gowun Batang", serif;
  font-weight: normal;
  font-style: normal;
  word-break: auto-phrase;
}

.gowun-batang-bold {
  font-family: "Gowun Batang", serif;
  font-weight: bold;
  font-style: normal;
  word-break: auto-phrase;
  margin-bottom: 100px;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

#app {
  height: inherit;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  #container {
    flex: 1;
    overflow: hidden;
    main {
      overflow-x: hidden;
      scroll-behavior: auto;
      &::-webkit-scrollbar {
        display: none;
        width: 8px;
        height: 8px;
      }
      &::-webkit-scrollbar-button {
        width: 8px;
        height: 8px;
      }
    }
  }
}

.neumorphism-light {
  border-radius: 21px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  -ms-border-radius: 21px;
  -o-border-radius: 21px;
}
.neumorphism-dark {
  border-radius: 21px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #000000, -20px -20px 60px #343434;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  -ms-border-radius: 21px;
  -o-border-radius: 21px;
}
