<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <script src="{{site.baseurl}}/assets/js/lunr.js"></script>
        
        <!-- preload -->

        <link rel="preload"
            href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Gugi&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
            as="style">

        <link rel="preload" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
            integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"
            as="style">

        <link rel="preload" href="https://cdn.jsdelivr.net/gh/kkn1125/penli@dabfbd0/docs/assets/css/penli.css" integrity="sha384-GRlAVG2hpmCsp6fahietb2fYclf6GcPQ//SP/cbgU5fXb/XnuNXgcBtiDnxsfWZn" crossorigin="anonymous" as="style">
        <link rel="preload" href="https://cdn.jsdelivr.net/gh/kkn1125/penli@dabfbd0/docs/assets/css/penli.theme.css" integrity="sha384-01r009YpiICsv6vC6VOYlFkAXL3fvSbJWvj4y6IFDQ5ydtcsROidPN6OZ4pHTz8m" crossorigin="anonymous" as="style">
        <link rel="preload" href="https://cdn.jsdelivr.net/gh/kkn1125/typer@update-v020/typer.css"
            integrity="sha384-WlGS/BGsTdvbKjfrZ9IJE45xkq8xElk1ASfEwycwMlwu0DO+shSOgBF/odcC4afX" crossorigin="anonymous"
            as="style">
        <link rel="preload" href="{{ site.baseurl }}/assets/css/syntax.css" as="style">
        <link rel="preload" href="{{ site.baseurl }}/assets/css/theme.css" as="style">
        <link rel="preload" href="{{ site.baseurl }}/assets/css/kims.css" as="style">
        <link rel="preload" href="{{site.baseurl}}/assets/css/imgZoom.css" as="style">
        <link rel="preload" href="{{site.baseurl}}/assets/js/devkimson.bundle.js" as="script">

        <link rel="preload" href="{{ site.baseurl }}/assets/js/darkMode.js" as="script">
        <link rel="prefetch" href="{{site.baseurl}}/assets/js/loading.js" as="script">

        <link rel="preload" href="https://cdn.jsdelivr.net/gh/kkn1125/typer@update-v020/typer.js"
        integrity="sha384-s62GQWchBcBh82YhldUNQK9Cqw6iFB+eBau07ihjICofE7TLkSimbCI4+djd4soo" crossorigin="anonymous"
        as="script">
        <link rel="preload" href="{{site.baseurl}}/assets/js/kalendar.js" as="script">

        <script>
            document.documentElement.lang = navigator.language.split('-').shift();
        </script>
        <!-- preload -->

        <title>{{page.title}} | {{site.name}}</title>

        {% seo %}

        <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/{{site.favicon}}">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kkn1125/penli@dabfbd0/docs/assets/css/penli.css" integrity="sha384-GRlAVG2hpmCsp6fahietb2fYclf6GcPQ//SP/cbgU5fXb/XnuNXgcBtiDnxsfWZn" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kkn1125/penli@dabfbd0/docs/assets/css/penli.theme.css" integrity="sha384-01r009YpiICsv6vC6VOYlFkAXL3fvSbJWvj4y6IFDQ5ydtcsROidPN6OZ4pHTz8m" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kkn1125/typer@update-v020/typer.css"
            integrity="sha384-WlGS/BGsTdvbKjfrZ9IJE45xkq8xElk1ASfEwycwMlwu0DO+shSOgBF/odcC4afX" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/theme.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/kims.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/imgZoom.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

        <!-- font awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
            integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

        <!-- Google Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Gugi&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

        {% include tracking-header.html %}
        <style>
            .lunrsearchresult .title {
                color: #d9230f;
            }

            .lunrsearchresult .url {
                color: silver;
            }

            .lunrsearchresult a {
                display: block;
                color: #777;
            }

            .lunrsearchresult a:hover,
            .lunrsearchresult a:focus {
                text-decoration: none;
            }

            .lunrsearchresult a:hover .title {
                text-decoration: underline;
            }
        </style>
    </head>
    
    <body>
        <script src="{{ site.baseurl }}/assets/js/darkMode.js"></script>
        
        <button class="btn btn-danger py-5 px-1" data-target="#lsb">
            <i class="fas fa-chevron-right"></i>
        </button>

        {% if page.url == "/" %}
        <script src="{{ site.baseurl }}/assets/js/loading.js"></script>
        {% endif %}

        <!-- nav-gnb -->
        {% include nav-gnb.html %}

        <div>
            <ul class="submenu w-flex flex-nowrap vgap-4 px-3" style="overflow-x: auto; white-space: nowrap;">
                {% assign sortedCategories = site.categories | sort %}
                {% for category in sortedCategories %}
                <li class="list-item fs-6 py-1">
                    <a href="/category/{{category[0] | downcase}}">{{category[0]}} <span class="fs-8 text-muted">({{category[1] | size}})</span></a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Search Results -->
        <div id="lunrsearchresults">
            <ul class="mb-0"></ul>
        </div>

        <div class="main">
            <!-- Content -->
            {% include left-sidebar.html %}
            
            <main>
                {{ content }}
            </main>
        </div>

        <!-- Footer -->
        {% include footer.html %}

        <script defer>
            $(function() {
                $("#lunrsearchresults").on('click', '#btnx', function () {
                    $('#lunrsearchresults').hide( 1000 );
                    $( "body" ).removeClass( "modal-open" );
                });
            });
                
            {% assign counter = 0 %}
            var documents = [{% for page in site.posts %}{
                "id": {{ counter }},
                "url": "{{ site.url }}{{site.baseurl}}{{ page.url }}",
                "tags": "{{page.tags | join: ', '}}".split(',').map(s=>s.trim()),
                "title": "{{ page.title }}",
                "body": "{{ page.date | date: "%Y/%m/%d" }} - {{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"}
                {% assign counter = counter | plus: 1 %}{% if forloop.last != true %},{% endif %}{% endfor %}];
            
            var idx = lunr(function () {
                //this.ref('id')
                //this.field('title')
                //this.field('body')
                
                this.pipeline.reset();
                this.pipeline.add(
                    lunr.stopWordFilter,
                    lunr.stemmer
                );
                // 너무 간단한 한글 검색...
            
                this.ref('id')
                this.field('title')
                this.field('body')
                this.field('author')
                this.field('content')
                this.field('tag')
                this.field('category')
            
                documents.forEach(function (doc) {
                    this.add(doc)
                }, this)
            });
            
            function lunr_search(term) {
                if(term.trim()=='') {
                    alert('검색어를 입력해주세요.');
                    return false;
                }
                $('#lunrsearchresults').show( 1000 );
                $( "body" ).addClass( "modal-open" );
                
                document.getElementById('lunrsearchresults').innerHTML = `<div id="resultsmodal" class="modal fade show d-block"  tabindex="-1" role="dialog" aria-labelledby="resultsmodal"> <div class="modal-dialog shadow-lg" role="document"> <div class="modal-content"> <div class="modal-header" id="modtit"> <button type="button" class="btn px-1 btn-danger btn-sm" id="btnx" data-dismiss="modal" aria-label="Close">&times;</button> </div> <div class="modal-body"> <ul class="mb-0"> </ul>    </div> <div class="modal-footer"><button id="btnx" type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button></div></div> </div></div>`;
                if(term) {
                    document.getElementById('modtit').innerHTML = "<h5 class='modal-title'>Search results for '" + term + "'</h5>" + document.getElementById('modtit').innerHTML;
                    //put results on the screen.
                    var results = idx.search(term);
                    if(results.length>0){
                        //console.log(idx.search(term));
                        //if results
                        for (var i = 0; i < results.length; i++) {
                            // more statements
                            var ref = results[i]['ref'];
                            var url = documents[ref]['url'];
                            var title = documents[ref]['title'];
                            var body = documents[ref]['body'].substring(0,160)+'...';
                            document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML + "<li class='lunrsearchresult'><a href='" + url + "'><span class='title'>" + title + "</span><br /><small><span class='body'>"+ body +"</span><br /><span class='url'>"+ url +"</span></small></a></li>";
                        }
                    } else {
                        document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = "<li class='lunrsearchresult'>키워드 조회 결과가 없습니다! 다른 키워드로 검색해주세요 :)</li>";
                    }
                }
                return false;
            }
        </script>

        <div news-alert></div>

        {% include tracking-footer.html %}

    </body>

</html>