<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script>
            document.documentElement.lang = navigator.language.split('-').shift();
        </script>
        <title>{{page.title}} | {{site.name}}</title>

        {% seo %}

        <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/{{site.favicon}}">

        {% include tracking-header.html %}

    </head>

    <body class="{% if page.url == "/" %} homefirstpage {% endif %}" data-aos-easing="ease-out-back"
        data-aos-duration="1000" data-aos-delay="0">
        <script src="{{ site.baseurl }}/assets/js/darkMode.js"></script>

        <button class="btn btn-danger px-1" data-target="#lsb">
            <i class="fas fa-chevron-right"></i>
        </button>

        {% if page.url == "/" %}
        {% include option-loading.html %}
        {% endif %}

        <!-- nav-gnb -->
        {% include nav-gnb.html %}

        <div class="sr"></div>

        <!-- Search Results -->
        <div id="lunrsearchresults">
            <ul class="mb-0"></ul>
        </div>

        <div class="main">
            <!-- Content -->
            {% include left-sidebar.html %}
            <main>
                {{ content }}
            </main>
        </div>

        <!-- Footer -->
        {% include footer.html %}

        <div news-alert></div>

        {% include tracking-footer.html %}

    </body>

</html>