---
layout: default
---
{% assign author = site.authors[page.author] %}
<div class="fence">
	<div class="mb-3 pl-0 pt-0 pb-0 position-relative">
		<div class="h-100">
			<div class="w-flex flex-column flex-row-md {% if page.image %}justify-content-between{% else %} justify-content-center {% endif %}">
				<div class="{% if page.image %} col {% else %} col-md-16 {% endif %} pe-0 pe-md-4 pt-4 pb-4 align-self-center">
					<p class="text-uppercase font-weight-bold">
						<span class="catlist">
							{% for category in page.categories %}
							<a class="sscroll text-danger"
								href="{{site.baseurl}}/categories#{{ category | downcase }}">{{ category | downcase }}</a>
								{% if forloop.last == false %}
								<span class="sep">, </span>
								{% endif %}
							{% endfor %}
						</span>
					</p>
					<div class="mb-4">
						<span class="h2">{{ page.title }}</span>
					</div>
					<div class="w-flex align-items-center">
						{% if author.avatar %}
						<img class="rounded-circle me-3" src="{{site.baseurl}}/{{author.avatar}}" alt="{{author.name}}"
							width="90" height="90" />
						{% endif %}
						<small class="ms-3"> {{ author.name }} <span><a target="_blank" href="{{ author.github }}"
									class="btn btn-frame-success btn-sm btn-round ms-1">Follow</a></span>
							<span class="text-muted w-block mt-1">{{ page.date | date: '%b %d, %Y' }} ·
								{% include meta-read-time.html %}</span>
						</small>
					</div>
				</div>
				{% if page.image %}
				<div class="col pr-0 align-self-center">
					<img class="imgFix" style="box-shadow: 0 2.5em 1em -30px rgb(0 0 0 / 30%);" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}"
						alt="{{ page.title }}">
				</div>
				{% endif %}
			</div>
			{% if page.modified %}
			<div>
				<span class="tag tag-danger bg-opacity-75">Modified at</span>
				<span class="text-muted tag">{{page.modified | date: '%Y. %m. %d %H:%M'}}</span>
			</div>
			{% endif %}
		</div>
	</div>
</div>

<div class="fence-full fence-lg pt-4 pb-4">
	<div class="w-flex justify-content-center">
		<!-- Share -->
		<div class="col-lg-4 pe-4 mb-4 col-md-20">
			<div class="position-sticky text-center" style="top: 130px;">
				<div class="text-muted">
					Share this
				</div>
				<div class="share w-inline-block">
					<!-- AddToAny BEGIN -->
					<div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="https://kkn1125.github.io">
						<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
						<a class="a2a_button_facebook"></a>
						<a class="a2a_button_twitter"></a>
						<a class="a2a_button_google_gmail"></a>
						<a class="a2a_button_kakao"></a>
						<a class="a2a_button_pinterest"></a>
					</div>
					<script>
					var a2a_config = a2a_config || {};
					a2a_config.locale = "ko";
					</script>
					<script async src="https://static.addtoany.com/menu/page.js"></script>
					<script defer>
						setTimeout(()=>{
							const drop = document.querySelector('#a2apage_dropdown');
							const plusBtn = document.querySelector('.a2a_dd');
							function dropDownHolder(ev){
								let offsetParent = plusBtn.parentNode.parentNode.parentNode.parentNode;
								drop.style.top = offsetParent.offsetTop+drop.offsetHeight-(plusBtn.offsetHeight/2)+'px';
							}
							plusBtn.addEventListener('mouseenter', dropDownHolder);
						}, 100);
					</script>
					<!-- AddToAny END -->
				</div>
			</div>
		</div>

		<div class="col-20 col-lg-16">
			<!-- Toc -->
			<!-- Toc if any -->
			{% if page.toc %}
				{% if page.beforetoc %}
					<p><em>{{page.beforetoc}}</em></p>
				{% endif %}
				<div class="toc mt-4 mb-4 lead">
					<div class="h5 fw-bold">요약</div>
					{% include toc.html html=content %}
				</div>
			{% endif %}
			<!-- End Toc -->
			<!-- Toc -->
			<!-- Keysum if any -->
			{% if page.keysum %}
				{% include keywords.html %}
			{% endif %}
			<!-- Article -->
			<article class="article-post">
				{{ content }}
				{%- comment -%}
				<!-- donaricano -->
				{% include buymeacoffee.html %}
				{%- endcomment -%}
			</article>

			<!-- Tags -->
			<div class="mb-4">
				<span class="taglist">
					{% for tag in page.tags %}
					<a class="sscroll btn btn-light btn-sm font-weight-bold"
						href="{{site.baseurl}}/tags#{{ tag | downcase }}">{{ tag | downcase }}</a>
					{% endfor %}
				</span>
			</div>

			<!-- Author Box -->
			{% if page.author %}
			<div class="w-flex mt-5">
				<div class="col-md-6 align-self-center">
					{% if author.avatar %}
					<img class="rounded-circle" src="{{site.baseurl}}/{{author.avatar}}" alt="{{author.name}}"
						width="90" height="90" />
					{% endif %}
				</div>
				<div class="col-md-18">
					<div class="fw-bold">Written by {{ author.name }} {% if author.twitter %}<span><a target="_blank" href="{{ author.github }}" class="btn btn-frame-success btn-sm ms-2">Follow</a></span>{% endif %}</div>
					<span class="text-muted">
						{{ author.bio }}
					</span>
				</div>
			</div>
			{% endif %}

			<!-- Comments -->
			{% if page.comments != false %}
			{% include comments.html %}
			{% endif %}

		</div>

	</div>
</div>


<!-- Aletbar Prev/Next -->
<div class="alertbar">
	<div class="fence-full">
		<div class="w-flex fw-bold justify-content-between p-1">
			{% if page.previous.url %}
			<div class="text-center text-md-start col-20 col-md-10 rightborder ps-0">
				<a class="text-dark" href="{{ site.baseurl }}{{ page.previous.url }}">{% if page.previous.image %} <img
						height="30px" class="me-1" src="{{site.baseurl}}/{{page.previous.image}}"> {% endif %}
					{{page.previous.title}}</a>
			</div>
			{% endif %}
			{% if page.next.url %}
			<div class="text-center col-20 col-md-10 text-md-end pe-0">
				<a class="text-dark" href="{{ site.baseurl }}{{ page.next.url }}"> {{page.next.title}}
					{% if page.next.image %} <img height="30px" class="ms-1" src="{{site.baseurl}}/{{page.next.image}}">
					{% endif %}</a>
			</div>
			{% endif %}
		</div>
	</div>
</div>